body {
  background-color: #2c2f33;
  font-family: monospace;
}
#headline {
  color: #FFFDD0;
  text-align: center;
}
#byline {
  text-align: center;
  color: #FFFDD0;
}
hr {
  border: 1px solid #FFFDD0;
}
#sidebar-div {
  width: 200px;
  position: fixed;
  bottom: 340px;
  left: 70px;
}
#sidebar {
  color: #FFFDD0;
  text-align: center;
  box-shadow: 10px 10px 10px 10px #0a0a0a;
}
#essay-div {
  width: 900px;
  position: fixed;
  bottom: 20px;
  left: 340px;
  box-shadow: 10px 10px 10px 10px #0a0a0a;
}
#intro {
  color: #FFFDD0;
  text-align: center;
}
#problem {
  color: #FFFDD0;
  text-align: center;
}
